header .home-header-menu .home-header-left .home-header-brand img {
    width: auto;
    height: 40px;
}

header .home-header-menu .home-header-left .home-header-navbar ul li:hover .header-menu-sub {
    display: block;
}

header .home-header-menu .home-header-left .home-header-navbar ul li .header-menu-sub {
    display: none;
    transition: .8s;
}

.home-header-right form input::placeholder {
    font-size: 14px;
    font-weight: 500;
}

.home-header-right .home-search-button .button-search i {
    font-size: 14px;
    margin-top: 3px;
}

.social-icon i {
    font-size: 44px;
    color: #333f48;
}

.item-news {
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.news-home {
    margin-top: 0 !important;
}

.in-item-news .news-img img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.in-item-news {
    box-shadow: 0 6px 20px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.related-news {
    margin-bottom: 20px;
}

@media (max-width: 1700px) {
    .product-size-button {
        padding: 10px;
    }
}

@media (max-width: 1600px) {
    .home-product-detail .button-add-cart {
        width: 70% !important;
    }
}

@media (max-width: 1500px) {
    .news-featured-box-title a {
        font-size: 24px;
    }
    .news-featured-category-title a {
        font-size: 14px;
    }
    .news-featured-box-date span {
        font-size: 12px;
    }
}

@media (max-width:1400px) {
    .home-product-detail .button-add-cart {
        font-size: 10px  !important;
    }
}

@media (max-width: 1300px) {
    .news-featured-box-content {
        padding-left: 30px;
        padding-top: 30px
    }
    .product-size-button {
        padding: 5px;
    }
    .home-product-detail .button-add-cart {
        width: 80% !important;
    }
}

@media (max-width: 1200px) {
    .home-header-menu .home-header-left .header-main-menu>li>a {
        font-size: 13px;
    }
    .news-featured-box-title a {
        font-size: 20px;
    }
    .news-featured-category-title a {
        font-size: 12px;
    }
    .news-featured-box-date span {
        font-size: 10px;
    }
    .home-product-detail .detail-product-size {
        padding-bottom: 15px !important;
    }
    .home-product-detail .button-add-cart {
        width: 90% !important;
    }
    .box-add-cart {
        bottom: 6%;
        top: 40%;
        padding: 12px 6px;
    }
    
}

@media (max-width: 991px) {
    .home-header-navbar {
        display: none;
    }
    /* .home-product-slide {
        display: none;
    } */
    .news-featured-box-content {
        padding-top: 15px;
    }
    .home-product-featured {
        margin-right: 0;
    }
    .home-img-featured img {
        width: 100%;
        height: auto;
    }
    .nav-category-product-item .nav-category-product-link {
        font-size: 18px;
    }
    .news-featured-box-title a {
        font-size: 16px;
    }
    .detail-news-title span {
        font-size: 28px;
    }
}

@media (max-width:900px) {
    .block-signup-news .block-signup-news-title,
    .block-connect-social-title {
        font-size: 15px;
    }
    .social-icon i {
        font-size: 35px;
    }
    .block-signup-news-input {
        width: 100%;
    }
    .block-signup-news {
        display: block;
        padding: 15px;
    }
    .block-connect-social {
        padding: 15px !important;
    } 

}

@media (max-width:768px) {
    .home-product-featured .slick-dots {
        right: 0;
    }
    .social-icon {
        margin-left: 20px;
    }
    .news-featured-box-content {
        padding: 20px;
    }
    .page-category-news .news-content {
        padding-top: 0;
    }
    .detail-news-content-text {
        padding: 0;
        width: 100%;
    }
    .detail-news-title span {
        font-size: 24px;
        line-height: normal;
    }
    .related-news-title span {
        font-size: 20px;
    }
}

@media (max-width:500px) {
    .container-fluid {
        padding: 25px;
    }
    .slide-promotion-item {
        font-size: 12px;
    }
    .nav-category-product-item .nav-category-product-link {
        font-size: 14px;
        min-height: 60px;
    } 
    .product-category-item{
        padding: 0 15px;
    }
}