header .home-header-menu .home-header-left .home-header-brand img {
    width: auto;
    height: 40px;
}

header .home-header-menu .home-header-left .home-header-navbar ul li:hover .header-menu-sub {
    display: block;
}

header .home-header-menu .home-header-left .home-header-navbar ul li .header-menu-sub {
    display: none;
    transition: .8s;
}

.home-header-right form input::placeholder {
    font-size: 14px;
    font-weight: 500;
}

.home-header-right .home-search-button .button-search i {
    font-size: 14px;
    margin-top: 3px;
}

.social-icon i {
    font-size: 44px;
    color: #333f48;
}

.item-news {
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.news-home {
    margin-top: 0 !important;
}

.in-item-news .news-img img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.in-item-news {
    box-shadow: 0 6px 20px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.related-news {
    margin-bottom: 20px;
}

.cart-item-info {
    display: flex;
}

.cart-item-photo {
    margin-right: 12px;
    position: relative;
    width: 20%;
    height: auto;
}

.cart-item-photo a img {
    width: 100%;
    height: auto;
}

.cart-item-name {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #77757f;
    margin-bottom: 13px;
}

.cart-item-name a {
    color: #77757f;
}

.cart-pd-30 {
    padding: 30px 0;
}

.col.price {
    width: 23%;
    text-align: left;
}

.cart-item-options {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.cart-item-option {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.cart-item-option span {
    display: block;
    margin-right: 4px;
}

.cart-item-option .swatch-option.text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.table-order tr td {
    vertical-align: top;
}

.table-order tr td span {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.cart-item-qty .btn-number {
    width: 24px;
    height: 24px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgMTJIMTUiIHN0cm9rZT0iI0QyRDFENCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cmVjdCB4PSIyLjc1IiB5PSIyLjc1IiB3aWR0aD0iMTguNSIgaGVpZ2h0PSIxOC41IiByeD0iOS4yNSIgc3Ryb2tlPSIjRDJEMUQ0IiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K);
    cursor: pointer;
    min-width: 24px;
}

.cart-item-qty .input-cart-item-qty {
    width: 33px;
    text-align: center;
    padding: 0;
    color: #333f48;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    min-width: 33px;
}

.cart-item-qty .btn-number span {
    display: none;
}

.cart-item-qty .btn-number-plus {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgMTJIMTUiIHN0cm9rZT0iIzMzM0Y0OCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTIgMTVWOSIgc3Ryb2tlPSIjMzMzRjQ4IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxyZWN0IHg9IjIuNzUiIHk9IjIuNzUiIHdpZHRoPSIxOC41IiBoZWlnaHQ9IjE4LjUiIHJ4PSI5LjI1IiBzdHJva2U9IiNEMkQxRDQiIHN0cm9rZS13aWR0aD0iMS41Ii8+Cjwvc3ZnPgo=);
}

.cart-item-qty .btn-number {
    width: 24px;
    height: 24px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgMTJIMTUiIHN0cm9rZT0iI0QyRDFENCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cmVjdCB4PSIyLjc1IiB5PSIyLjc1IiB3aWR0aD0iMTguNSIgaGVpZ2h0PSIxOC41IiByeD0iOS4yNSIgc3Ryb2tlPSIjRDJEMUQ0IiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K);
    cursor: pointer;
    min-width: 24px;
}

.cart-item-qty .btn-number span {
    display: none;
}

.cart-item-qty {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    /* align-items: center; */
    margin-top: -4px;
}

.action-delete {
    width: 34px;
    height: 34px;
    display: block;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNDYzODcgMTUuNTM1MkwxNS41MzQ5IDguNDY0MDkiIHN0cm9rZT0iIzc3NzU3RiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNMTUuNTM0OSAxNS41MzU5TDguNDYzODcgOC40NjQ4NCIgc3Ryb2tlPSIjNzc3NTdGIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
    margin-top: -9px;
    min-width: 34px;
    opacity: 0;
    visibility: hidden;
}

.action-delete span {
    display: none;
}

@media (max-width: 1700px) {
    .product-size-button {
        padding: 10px;
    }
}

@media (max-width: 1600px) {
    .home-product-detail .button-add-cart {
        width: 70% !important;
    }
}

@media (max-width: 1500px) {
    .news-featured-box-title a {
        font-size: 24px;
    }
    .news-featured-category-title a {
        font-size: 14px;
    }
    .news-featured-box-date span {
        font-size: 12px;
    }
}

@media (max-width:1400px) {
    .home-product-detail .button-add-cart {
        font-size: 10px  !important;
    }
}

@media (max-width: 1300px) {
    .news-featured-box-content {
        padding-left: 30px;
        padding-top: 30px
    }
    .product-size-button {
        padding: 5px;
    }
    .home-product-detail .button-add-cart {
        width: 80% !important;
    }
}

@media (max-width: 1200px) {
    .home-header-menu .home-header-left .header-main-menu>li>a {
        font-size: 13px;
    }
    .news-featured-box-title a {
        font-size: 20px;
    }
    .news-featured-category-title a {
        font-size: 12px;
    }
    .news-featured-box-date span {
        font-size: 10px;
    }
    .home-product-detail .detail-product-size {
        padding-bottom: 15px !important;
    }
    .home-product-detail .button-add-cart {
        width: 90% !important;
    }
    .box-add-cart {
        bottom: 6%;
        top: 40%;
        padding: 12px 6px;
    }
    
}

@media (max-width: 991px) {
    .home-header-navbar {
        display: none;
    }
    /* .home-product-slide {
        display: none;
    } */
    .news-featured-box-content {
        padding-top: 15px;
    }
    .home-product-featured {
        margin-right: 0;
    }
    .home-img-featured img {
        width: 100%;
        height: auto;
    }
    .nav-category-product-item .nav-category-product-link {
        font-size: 18px;
    }
    .news-featured-box-title a {
        font-size: 16px;
    }
    .detail-news-title span {
        font-size: 28px;
    }
}

@media (max-width:900px) {
    .block-signup-news .block-signup-news-title,
    .block-connect-social-title {
        font-size: 15px;
    }
    .social-icon i {
        font-size: 35px;
    }
    .block-signup-news-input {
        width: 100%;
    }
    .block-signup-news {
        display: block;
        padding: 15px;
    }
    .block-connect-social {
        padding: 15px !important;
    } 

}

@media (max-width:768px) {
    .home-product-featured .slick-dots {
        right: 0;
    }
    .social-icon {
        margin-left: 20px;
    }
    .news-featured-box-content {
        padding: 20px;
    }
    .page-category-news .news-content {
        padding-top: 0;
    }
    .detail-news-content-text {
        padding: 0;
        width: 100%;
    }
    .detail-news-title span {
        font-size: 24px;
        line-height: normal;
    }
    .related-news-title span {
        font-size: 20px;
    }
}

@media (max-width:500px) {
    .container-fluid {
        padding: 25px;
    }
    .slide-promotion-item {
        font-size: 12px;
    }
    .nav-category-product-item .nav-category-product-link {
        font-size: 14px;
        min-height: 60px;
    } 
    .product-category-item{
        padding: 0 15px;
    }
}